<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tee Type</ion-label>
    <ion-select [(ngModel)]="teeType">
      <ion-select-option
        *ngFor="let teeBox of this.course.holes[0].teeBoxes | teeTypes"
        [value]="teeBox.teeType"
        >{{ teeBox.teeType }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row *ngIf="teeType">
      <ion-col>
        Hole
        <h3>selected Tee Type: {{ teeType }}</h3>

        <ion-row *ngFor="let hole of this.course.holes">
          {{ hole.hole }}
        </ion-row>
      </ion-col>
      <ion-col>
        Yardage
        <ion-row *ngFor="let hole of this.course.holes; index as i">
          {{ hole.teeBoxes[0].yards | json }}
        </ion-row>
      </ion-col>
      <ion-col>
        Handicap
      </ion-col>
      <ion-col>
        Par
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
