<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Tab Three
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveGame()" class="ion-text-end">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tee Type</ion-label>
    <ion-select (ionChange)="setScoreCard()" [(ngModel)]="teeType">
      <ion-select-option
        *ngFor="let teeBox of this.course.holes[0].teeBoxes | teeTypes"
        [value]="teeBox.teeType"
        >{{ teeBox.teeType | titlecase }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- course details -->
  <div *ngIf="teeType">
    <ion-grid>
      <ion-row>
        <ion-col>
          Hole
          <ion-row *ngFor="let hole of this.course.holes">
            {{ hole.hole }}
          </ion-row>
        </ion-col>
        <ion-col>
          Yardage
          <ion-row *ngFor="let hole of this.holes">
            {{ hole.teeBoxes[0].yards | json }}
          </ion-row>
        </ion-col>
        <ion-col>
          Handicap
          <ion-row *ngFor="let hole of this.holes">
            {{ hole.teeBoxes[0].hcp | json }}
          </ion-row>
        </ion-col>
        <ion-col>
          Par
          <ion-row *ngFor="let hole of this.holes">
            {{ hole.teeBoxes[0].par | json }}
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- scores -->
    <ion-grid style="overflow:auto">
      <ion-row>
        <ion-col>
          Holes
        </ion-col>
        <ion-col *ngFor="let player of this.players">
          {{ player.name }}'s score
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let hole of this.course.holes; index as i">
        <ion-col>
          {{ hole.hole }}
        </ion-col>
        <ion-col *ngFor="let player of this.players">
          <ion-input
            #scorebox
            (ionChange)="addScore(player, i, scorebox.value)"
            type="number"
            placeholder="score"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Totals -->
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          totals
          <ion-row>
            <ion-col *ngFor="let player of this.players" class="ion-text-start"
              >{{ player.name }}'s total
              <ion-row>
                {{ player.scores | addScores }}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
